/vim/*
*.swp
*.un~
/tmp/backup/
/tmp/undo/
/tmp/swap/
*.pyc
build/
config/ipython/profile_default/db/*
config/ipython/profile_default/log/*
config/ipython/profile_default/pid/*
config/ipython/profile_default/security/*
config/ipython/profile_default/*.sqlite
